<ion-content [fullscreen]="true">

  <ion-item class="top" >
    <ion-label>Rest Duration</ion-label>
    <ion-datetime #myPicker 
                  display-format="mm:ss" 
                  placeholder="Pick it" 
                  [(ngModel)]="fullTime" 
                  (ionChange)="updateMyDate(myPicker.value)">
    </ion-datetime>
  </ion-item>


  <div id="container">
    
    <circle-progress (click)="startTimer()"
  [percent]="percent"
  [maxPercent]="100"
  [radius]="radius"
  [showTitle]="false"  
  [showSubtitle]="true"
  [subtitle]="remainingTime"
  [subtitleFontSize]="35"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [outerStrokeColor]="'#bec901'"
  [showZeroOuterStroke]="false"
  [backgroundStroke]="'#bec901'"
  [backgroundStrokeWidth]="3"
  [outerStrokeGradient]="true"
  [outerStrokeGradientStopColor]="'#ffc409'"
  [showInnerStroke]="false"
></circle-progress>

<p>Total workout :</p>

<p>{{ elapsed.h }}:{{ elapsed.m }}:{{ elapsed.s }}</p>


  </div>
</ion-content>
 